:root {
  --fontRubik: 'Rubik', sans-serif;

  --paleViolet: hsl(276, 100%, 81%);
  --ModerateViolet: hsl(276, 55%, 52%);
  --desaturatedDarkViolet: hsl(271, 15%, 43%);
  --grayishBlue: hsl(206, 6%, 79%);
  --veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --darkGrayishViolet: hsl(270, 7%, 64%);

  --gradient: linear-gradient(#e942ff, #8838ff);

  --white: hsl(0, 0%, 100%);
  --lightGrayishViolet: hsl(270, 20%, 96%);
  --veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --veryLightMagenta: hsl(289, 100%, 72%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem =10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
