:root {
  --fontRubik: 'Rubik', sans-serif;

  --paleViolet: hsl(276, 100%, 81%);
  --ModerateViolet: hsl(276, 55%, 52%);
  --desaturatedDarkViolet: hsl(271, 15%, 43%);
  --grayishBlue: hsl(206, 6%, 79%);
  --veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --darkGrayishViolet: hsl(270, 7%, 64%);

  --gradient: linear-gradient(#e942ff, #8838ff);

  --white: hsl(0, 0%, 100%);
  --lightGrayishViolet: hsl(270, 20%, 96%);
  --veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --veryLightMagenta: hsl(289, 100%, 72%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem =10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
}
.background {
  width: 18.75rem;
  height: 50vh;
  background: var(--gradient);
  border-radius: 0 0 20rem;
}
.background2 {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 18.75rem;
  height: 50vh;
  border-radius: 20rem 0 0;
  background: var(--lightGrayishViolet);
}
.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}
.chat__border {
  width: 23rem;
  height: 45rem;
  border: 1rem solid var(--white);
  border-radius: 3rem;
  position: absolute;
  background: var(--lightGrayishViolet);
  -webkit-box-shadow: 10px 7px 72px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 7px 72px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 7px 72px -20px rgba(0, 0, 0, 0.75);
}
