:root {
  --fontRubik: 'Rubik', sans-serif;

  --paleViolet: hsl(276, 100%, 81%);
  --ModerateViolet: rgb(146, 65, 200);
  --desaturatedDarkViolet: hsl(271, 15%, 43%);
  --grayishBlue: hsl(206, 6%, 79%);
  --veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --darkGrayishViolet: hsl(270, 7%, 64%);

  --gradient: linear-gradient(#e942ff, #8838ff);

  --white: hsl(0, 0%, 100%);
  --lightGrayishViolet: hsl(270, 20%, 96%);
  --veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --veryLightMagenta: hsl(289, 100%, 72%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem =10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: var(--fontRubik);
  font-size: 1.6rem;
}
.background {
  width: 100%;
  position: absolute;
}
.bg {
  max-width: 19rem;
  height: 80vh;
  background: var(--gradient);
  border-radius: 0 0 20rem;
}
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}
.chat__border {
  width: 23rem;
  height: 47rem;
  border: 1rem solid var(--white);
  border-radius: 3rem;
  position: relative;
  background: var(--lightGrayishViolet);
  -webkit-box-shadow: 10px 7px 72px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 7px 72px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 7px 72px -20px rgba(0, 0, 0, 0.75);
}
.chat__header {
  height: 7rem;
  border-radius: 2rem 2rem 0.5rem 0.5rem;
  background: linear-gradient(to left, #e942ff 25%, #8838ff);
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
}
.chat__header__head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 12rem;
  height: 2rem;
  margin-top: -0.1rem;
  border-radius: 0 0 1.5rem 1.5rem;
  background: var(--white);
}
.chat__header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding-top: 4.5rem;
}
.chat__header__box__per {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chat__header__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}
.chat__header__icons i {
  font-size: 1rem;
  color: var(--white);
}
.chat__header__icons i:hover {
  cursor: pointer;
}
.chat__header__icons img {
  height: 2.5rem;
  border: 0.01rem solid var(--white);
  border-radius: 50%;
}
.chat__header__data {
  color: var(--white);
}
.chat__header__data h2 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: var(--lightGrayishViolet);
}
.chat__header__data p {
  color: var(--paleViolet);
  font-size: 0.8rem;
}
.chat__header__ellipsis {
  margin-right: 2rem;
  font-size: 1rem;
  color: var(--white);
}
.chat__header__ellipsis i:hover {
  cursor: pointer;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }

  80% {
    opacity: 1;
    transform: scale(0.89);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
.ani1 {
  animation-delay: 0.5s;
}
.ani2 {
  animation-delay: 1s;
}
.ani3 {
  animation-delay: 2.5s;
}
.ani4 {
  animation-delay: 3s;
}
.ani5 {
  animation-delay: 4s;
}
.ani6 {
  animation-delay: 4.5s;
}
.ani7 {
  animation-delay: 5s;
}
.ani8 {
  animation-delay: 5.5s;
}
.animation {
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.chats__left {
  width: 12rem;
  margin-top: 0.8rem;
  margin-left: 1rem;
  border-radius: 0.8rem 0.8rem 0.8rem 0.2rem;
  background: #d89eff26;
}
.chats__left p {
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--ModerateViolet);
}
.chat__chats__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
}
.chats__right {
  margin-top: 0.8rem;
}
.chats__right p {
  width: 12rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 1rem;
  border-radius: 0.8rem 0.8rem 0.2rem 0.8rem;
  color: var(--desaturatedDarkViolet);
  background: var(--white);
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
}
.chats__right:last-of-type p {
  width: 8rem;
}
.chats__right img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
}
.chats__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  padding: 1rem;
  margin-top: 0.8rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  color: var(--lightGrayishViolet);
  border-radius: 0.8rem 0.8rem 0.8rem 0.2rem;
  background: linear-gradient(to left, #8838ff, #e942ff 80%);
}
.input__radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.chats__input span {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}
input[type='radio']:hover {
  cursor: pointer;
}
input[type='radio']:after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  top: -0.2rem;
  left: -0.1rem;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.2rem solid var(--veryLightMagenta);
}

input[type='radio']:checked:after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  top: -0.2rem;
  left: -0.1rem;
  position: relative;
  background-color: var(--veryDarkDesaturatedViolet);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.2rem solid var(--veryLightMagenta);
}
.chat__message {
  margin: 1rem 1rem;
}
.chat__message input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  background: var(--white);
}
.chat__message input::placeholder {
  color: var(--grayishBlue);
  font-size: 1rem;
}
.chat__message button {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-left: -3rem;
  border: none;
  border-radius: 50%;
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  background: var(--veryDarkDesaturatedViolet);
}
.chat__message button:hover {
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main h1 {
  margin-top: 6rem;
  color: var(--veryDarkDesaturatedViolet);
}
.main p {
  width: 31.5rem;
  margin: 2.5rem 3rem;
  margin-bottom: 8rem;
  text-align: center;
  line-height: 2.5rem;
  color: var(--darkGrayishViolet);
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

/* Desktop */
@media (min-width: 1024px) {
  .bg {
    max-width: 60rem;
    margin-left: -20rem;
    border-radius: 0 0 40rem 40rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 100vh;
  }
  .chat {
    padding: 0;
  }
  .main,
  .main h1,
  .main p {
    margin: 0;
  }
  .main {
    align-items: initial;
  }
  .main p {
    width: 45rem;
    margin-top: 2.5rem;
    text-align: left;
  }
}
